/* 全局css */
/* 导航菜单 */
#menu { margin: 0; padding: 0; position: fixed; left: 10px; top: 10px; list-style-type: none; z-index: 70;}
#menu li { float: left; margin:  0 10px 0 0; font-size: 14px; font-weight: bold;}
#menu a { float: left; padding: 8px 10px; background-color: #CCFFFF; color: #333; text-decoration: none; width:90px; text-align: center;}
#menu .active a { color: #fff; background-color: #333;}

/* 各页面元素初始位置 */

.section1
{
	
	background-size: cover;
}

.section3
{
	background-image: url(../images/bg7draw.jpg);
	background-size: cover;
}


.section2
{
	background-image: url(../images/bg6purple2.jpg);
	background-size: cover;
}

.section4 
{ 
	background-image: url(../images/bg5yellow.jpg);
	background-size: cover;
	/*background-blend-mode:multiply;*/
}
.section3 {position: relative;}

.section-Background
{
	display: block;
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
	-webkit-filter: blur(10px); 
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);    
    filter: blur(10px);
}

.section-Background img
{
	max-width: 2500px;
	min-width: 2500px;
	max-height: 1200px;
	min-height: 1200px;
	
}

body, div, img
{
	margin: 0;
	padding: 0;
}
body
{
	min-width: 1000px;
}

.clear
{
	clear: both;
}      

.section
{ 
	padding: 0;
}

/* 播放器 */
.musicPlayer
{
	z-index: 50;
	position: absolute;
	right: 1%;
	top:-50px;
}



/* home页面祝福语 */
#title
{
	text-align: center;
	float:left;
	font-size: 27px;
	color: #666666;
	margin-top: 35%;
	margin-left: 20px;
	margin-right: 20px;
	width:24%;
	line-height: 1.8em;
	font-family: 'FangSong', '仿宋', 'STFangsong', '华文仿宋', sans-serif;
}

/* 蜂窝 */
.hexBox
{
	position: relative;
	width: 840px;
	margin:-20% auto;	
	
}

.firstLayer, .secondLayer, .thirdLayer, .overlay
{
	width: 200px;
	height: 250px;
	overflow: hidden; 
}

.firstLayer, .secondLayer
{
	visibility: hidden;
}

.firstLayer
{
	transform: rotate(120deg);
	float: left;
	margin-left: 10px;
	-ms-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);	
}

.secondLayer
{
	transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);	
}

.thirdLayer
{
	transform: rotate(-60deg);
	background: no-repeat 50% center;
	background-size: 125% auto;
	-ms-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;	
}

.firstLine, .secondLine, .thirdLine
{
	position: absolute;
	visibility: hidden;
}

.secondLine
{
	top: 182px;
	left: 105px;
}

.thirdLine
{
	top: 366px;
	left: 0;
}


#sym1
{
    background-color: #FFFFCC;	
}

.thirdLayer p
{
	display: block;
	position: absolute;
	top: 30%;
	left:10%;
	right:10%;
	bottom:35%;
	line-height: 1.6em;
	font-size: 20px;
	text-align: center;
	color:#666666;
	font-family: 'FangSong', '仿宋', 'STFangsong', '华文仿宋', sans-serif;
}

.thirdLayer:hover p
{
	display: none;
}

#sym1:hover
{
	cursor: pointer;
	background-image: url(../images/sym1.jpg);
	background-size: cover;
}

#sym2
{
    background-color: #FFCCFF;	
}



#sym2:hover
{
	cursor: pointer;
	background-image: url(../images/sym2.jpg);
	background-size: cover;
}

#sym3
{
    background-color: #CCFFFF;	
}

#sym3:hover
{
	cursor: pointer;
	background-image: url(../images/sym3.jpg);
	background-size: cover;
}

#sym4
{
    background-color: #CCCCFF;	
}

#sym4:hover
{
	cursor: pointer;
	background-image: url(../images/sym4.jpg);
	background-size: cover;
}

#sym5
{
    background-color: #CCCCCC;	
}

#sym5:hover
{
	cursor: pointer;
	background-image: url(../images/sym5.jpg);
	background-size: cover;
}

#sym6
{
    background-color: #FFCCCC;	
}

#sym6:hover
{
	cursor: pointer;
	background-image: url(../images/sym6.jpg);
	background-size: cover;
}

#sym7
{
    background-color: #CCFFCC;	
}

#sym7:hover
{
	cursor: pointer;
	background-image: url(../images/sym7.jpg);
	background-size:cover;
}




/* 爱心 */
#loveHeart
{
	float:left;
	margin-right: 5%;
	margin-top: 5%;
	width:670px;
	height:625px;
}

#garden 
{
	width:100%;
	height:100%;
}

#elapseClock {
	text-align:right;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
}
#words {
	font-family:"sans-serif";
	font-style: italic;
	width:500px;
	font-size:24px;
	color:#666666;
}
#messages {
	display:none
}
#elapseClock .digit {
	font-family:"digit";
	font-size:36px
}
#loveu {
	padding:5px;
	font-size:22px;
	margin-top:60px;
	margin-right:120px;
	text-align:right;
	display:none
}
#loveu .signature {
	margin-top:10px;
	font-size:20px;
	font-style:italic
}


/* 这一年回顾-展示屏 */
.showPanel-YearReview
{
	width:80%;
	height:80%;
	margin:0 auto;
	position: relative;
}

.showPanel-YearReview-Slot1
{
	position: absolute;
	width:36%;
	height:49%;
	left:0;
	top: 0;
	overflow: hidden;
	background-image: url(../images/6.jpg);
	background-size: cover;
}

.showPanel-YearReview-Slot2
{
	position: absolute;
	width:36%;
	height:49%;
	left:0;
	top: 51%;
	overflow: hidden;
	background-image: url(../images/7.jpg);
	background-size: cover;
}

.showPanel-YearReview-Slot3
{
	position: absolute;
	width:63%;
	height:99.5%;
	left:37%;
	top: 0;
	overflow: hidden;
	background-color: #FFCCCC;
	-moz-opacity:0.6;
	opacity: 0.6;
	
}

.showPanel-YearReview-Slot3 span, .wordPane span
{
	position: absolute; 
	left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
	width:90%;
	height:85%;
	text-align: center;
	z-index: 20;
	line-height: 1.65em;
	color:black;
	font-size: 17px;
	font-weight:900;
	overflow:auto;
	font-family: 'FangSong', '仿宋', 'STFangsong', '华文仿宋', sans-serif;
}

.showPanel-YearReview-Slot3 span para, .wordPane span para
{
	margin-bottom: 4%;
	display: block;
}



/* 欢乐谷-展示屏 */
.showPanel-HappyValley
{
	width: 80%;
	height: 80%;
	margin:0 auto;
	position: relative;
}

.showPanel-HappyValley-Slot1
{
	position: absolute;
	width:42%;
	height:100%;
	left:0;
	top: 0;
	overflow: hidden;
}

.showPanel-HappyValley-Slot1 figcaption {
	padding: 1em;
	width:90%;
}


.showPanel-HappyValley-Slot1 p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 75.5%;
}




.showPanel-HappyValley-Slot2
{
	position: absolute;
	width:28%;
	height:49.5%;
	overflow: hidden;
	left:43%;
	top:0;
}

.showPanel-HappyValley-Slot2 img
{
	height: 100%;
	-webkit-filter: blur(5px); 
     -moz-filter: blur(5px);
     -ms-filter: blur(5px);    
     filter: blur(5px);
}

.showPanel-HappyValley-Slot2 span
{
	position:absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	margin:auto;
	z-index: 10;
	display: block;
	width:92%;
	height:85%;
	color:rgb(100,100,100);
	font-size: 16px;
	text-align: center;
	line-height: 2em;
	font-weight: bold;
	overflow: auto;
}


.showPanel-HappyValley-Slot3
{
	position: absolute;
	width:28%;
	height:49.5%;
	overflow: hidden;
	left:72%;
	top:0;
}


.showPanel-HappyValley-Slot3 figcaption {
	padding: 0;
	width:100%;
}

.showPanel-HappyValley-Slot4
{
	position: absolute;
	width:57%;
	height:24.25%;
	overflow: hidden;
	left:43%;
	top:50.5%;
}



.showPanel-HappyValley-Slot4:hover img
{
	opacity: 0.9;
}


.showPanel-HappyValley-Slot5
{
	position: absolute;
	width:28%;
	height:24.25%;
	overflow: hidden;
	left:43%;
	top:75.75%;
}


.showPanel-HappyValley-Slot5 figcaption {
	padding:6px;
}



.showPanel-HappyValley-Slot6
{
	position: absolute;
	width:28%;
	height:24.25%;
	overflow: hidden;
	left:72%;
	top:75.75%;
	background-image: url("../images/18.jpg");
	background-size:cover;
}


.showPanel-HappyValley-Slot6 span
{
	display: none;
	text-decoration:none;
}

.showPanel-HappyValley-Slot6:hover
{
	cursor: pointer;
	opacity: 0.9;
}

.showPanel-HappyValley-Slot6:hover span
{
	display: block;
	position: absolute;
	right: 0;
	color:#FFF;
	height:100%;
	width:50%;
	z-index: 100;
	font-size: 14px;
    line-height:24px;
	-moz-opacity:0.7;
	opacity: 0.7;
	background:#000;
}


.wordPane
{
	position: relative;
	display: block;
	width: 60%;
	height:80%;
	background-color: #26D9C7;
	margin-left: 6%;
	-moz-opacity:0.85;
	opacity: 0.85;
}

/* 第四屏祝福墙 */
.BlessingsWall
{
	width: 85%;
	height: 85%;
	margin:0 auto;
	position: relative;
}

.BlessingsWall img 
{
	position:absolute;
	padding:10px 10px 15px;
	background:#fff;
	border:1px solid #ddd;
	-webkit-transition:1.5s ;
	-moz-transition:1.5s ;
	transition:1.5s ;
	z-index:1;
}


.BlessingsWall img:hover {
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transform:scale(1.4);
	-moz-transform:scale(1.4);
	transform:scale(1.4);
	-webkit-box-shadow:5px 5px 5px #ddd;
	-moz-box-shadow:5px 5px 5px #ddd;
	box-shadow:5px 5px 5px #ddd;
	z-index:2;
	cursor:pointer;
}


.bls1 
{
	position:absolute;
	top:5%;
	left:5%;
	width:25%;
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);	
}

#bls1:hover
{
	

	-webkit-transform:rotate(-55deg) scale(1.4);
	-moz-transform:rotate(-55deg) scale(1.4);
	-ms-transform:rotate(-55deg) scale(1.4);
	transform:rotate(-55deg) scale(1.4);
	-webkit-box-shadow:5px 5px 5px #ddd;
	-moz-box-shadow:5px 5px 5px #ddd;
	box-shadow:5px 5px 5px #ddd;
	z-index:2;
	cursor:pointer;
}

.bls2
{
	position:absolute;
	top:5%;
	left:25%;
	width:28%;
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	transform:rotate(10deg);	
}

.bls3
{
	position:absolute;
	top:10%;
	left:48%;
	width:25%;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);	
}

.bls4
{
	position:absolute;
	top:0;
	left:70%;
	width:25%;
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform:rotate(15deg);	
}

.bls5
{
	position:absolute;
	top:58%;
	left:10%;
	width:36%;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	transform:rotate(5deg);
}

.bls6
{
	position:absolute;
	top:58%;
	left:55%;
	width:36%;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg);
}

.bls7
{
	position:absolute;
	top:0;
	left:0;
	width:28%;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg);
}

.bls8
{
	position:absolute;
	top:0;
	left:70%;
	width:28%;
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	transform:rotate(10deg);
}

.bls9
{
	position:absolute;
	top:40%;
	left:15%;
	width:28%;
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	transform:rotate(10deg);
}

.bls10
{
	position:absolute;
	top:40%;
	left:50%;
	width:28%;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg);
}

.blsVideo
{
	position:absolute;
	top:5%;
	left:0;
	width:35%;
	padding:10px 10px 15px;
	background:#fff;
	border:1px solid #ddd;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);
}

.bls11
{
	position:absolute;
	top:5%;
	left:70%;
	width:32%;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg);
}

.bls12
{
	position:absolute;
	top:50%;
	left:5%;
	width:30%;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform:rotate(-20deg);
}

.bls13
{
	position:absolute;
	top:55%;
	left:65%;
	width:32%;
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform:rotate(15deg);
}

.bls14
{
	position:absolute;
	top:20%;
	left:35%;
	width:32%;
}

.bls15
{
	position:absolute;
	top:0;
	left:38%;
	width:25%;
}


.bls16
{
	position:absolute;
	top:0;
	left:0;
	width:40%;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);
}

.bls17
{
	position:absolute;
	top:-2%;
	left:50%;
	width:40%;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	transform:rotate(5deg);
}

.bls18
{
	position:absolute;
	top:20%;
	left:0;
	width:60%;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
}

.bls19
{
	position:absolute;
	top:0;
	left:65%;
	width:35%;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);
}

.bls20
{
	position:absolute;
	top:55%;
	left:65%;
	width:35%;
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform:rotate(15deg);
}

.bls21
{
	position:absolute;
	top:5%;
	left:5%;
	width:35%;
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform:rotate(15deg);
}

.bls22
{
	position:absolute;
	top:5%;
	left:40%;
	width:35%;
	-webkit-transform:rotate(8deg);
	-moz-transform:rotate(8deg);
	-ms-transform:rotate(8deg);
	transform:rotate(8deg);
}

.bls23
{
	position:absolute;
	top:0;
	left:60%;
	width:40%;
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform:rotate(15deg);	
}

.bls24
{
	position:absolute;
	top:5%;
	left:0;
	width:25%;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	transform:rotate(5deg);	
}

.bls25
{
	position:absolute;
	top:10%;
	left:20%;
	width:25%;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);	
}

.bls26
{
	position:absolute;
	top:15%;
	left:35%;
	width:35%;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);	
}

.bls27
{
	position:absolute;
	top:10%;
	left:60%;
	width:25%;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);	
}

.bls28
{
	position:absolute;
	top:5%;
	left:75%;
	width:25%;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	transform:rotate(5deg);	
}

.bls29
{
	position:absolute;
	top:5%;
	left:10%;
	width:35%;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);	
}

.bls30
{
	position:absolute;
	top:5%;
	left:50%;
	width:35%;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	transform:rotate(5deg);	
}